header {
    height: 80px;
}
a:hover {
    color: black !important;
}
body {
    background-color: #faf0e6;
}
#band {
  background-color:#bbd2e1 ; 
  height: 10px;  
}
.img {
    margin: 1%;
}
h1 {
    font-size: 65px;
}
p {
    font-size: 18px;
}
.media {
  margin-top: 100px;  
}
/*.move1 {
    margin-left: 200px;
}
*/
.move2 {
   margin-top: 100px; 
}
ul {
    margin-left: 10%;
}
